.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  -webkit-user-select: none; //使整个窗口可拖拽
  -webkit-app-region: drag; //使拖拽区域不可复制文字
}

.container {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //background: url(../../../assets/bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  .login-form{
    min-width: 150px;
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .login-button{
    width: 240px;
  }
}
